{% extends "layout.html" %}
{% import 'book-page:fragment.html' as fragment %}

{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}
  <section class="pdl-home">
    <h1 class="pdl-home__headline">
      {{ data.page.backgroundText }}
    </h1>
    <div class="pdl-home__covers">
      {% for book in data.page._coverBooks %}
        <div class="pdl-home__cover pdl-home__cover--{{ loop.index }}">
          {% render fragment.preview(book, { light: true }) %}
        </div>
      {% endfor %}
    </div>
    <div style="background: black; color: white; width: 100%; text-align: center; height: 500px; z-index: 3">
      Other section
    </div>
  </section>
{% endblock %}
