{% extends "layout.html" %}
{% import "book-page:fragment.html" as fragment %}

{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}
  <section class="pdl-home">
    <h1 class="pdl-home__headline">
      {{ data.page.backgroundText }}
    </h1>
    <div class="pdl-home__covers">
      {% for book in data.page._coverBooks %}
        <div class="pdl-home__cover pdl-home__cover--{{ loop.index }}">
          {% render fragment.preview(book, { light: true }) %}
        </div>
      {% endfor %}
      <a class="pdl-home__discover" href="#home-about">
        {% include "svg-arrow-down.html" %}
        {{ __t('pdl:Discover') }}
      </a>
    </div>
    <div class="pdl-home__about" id="home-about">
      <div class="pdl-home__about-text">
      {{ data.page.aboutSentence.aboutTextPart1 }} {% include "svg-blue.html" %} {{ data.page.aboutSentence.aboutTextPart2 }} {% include "svg-orange.html" %}
      </div>
      <a class="pdl-home__about-link" href="/{{ data.locale }}/about">
        {{ __t('pdl:About Public Domain Library') }}
        {% include "svg-arrow-right.html" %}
      </a>
    </div>
    <div class="pdl-home__areas">
      {% area data.page, 'areas' %}
    </div>
  </section>
{% endblock %}
