body .ui.basic.segment.header-wrapper {
  color: #000;
  background-color: #000;

  .logo-nav-wrapper {
    .navigation {
      display: none;
    }

    .logo img {
      filter: invert(100%);
      margin-left: -15px;
    }
  }

  .ui.container .header .tools-search-wrapper {
    display: none;
  }
}
