/*-------------------
    Menu
--------------------*/


.searchBox() {
  .searchbox {
      padding-left: 0;
      border-left: 0;
      position: relative;
  }

  button {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 0;
      padding-left: 7px;
      padding-right: 5px;
      transform: translateY(-50%);
      z-index: 3;

      svg {
          height: 100% !important;
          width: 49px !important;
      }

      @media(max-width: 768px) {
          padding-left: 10;
          padding-right: 5px;

          svg {
              width: 43px !important;
          }
      }
  }

  input {
      width: 100%;
      border: 2px solid #fff !important;
      height: 80;
      font-family: 'Antonio', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      line-height: 1.09;
      font-size: 55px;
      padding-left: 63px !important;
      padding-right: 15px !important;
      padding-bottom: 15px !important;
      padding-top: 5px !important;
      color: #fff;

      &::-webkit-input-placeholder { /* Edge */
          color: #fff;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #fff;
      }

      &::placeholder {
          color: #fff;
      }

      @media(max-width: 768px) {
          font-size: 45px;
          line-height: 1.33;
      }
  }
}

body.contenttype-lrf {
  .content-area {
      margin-top: 0 !important;
      padding-top: 0 !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
  }
}

.ui.basic.segment.header-wrapper,
#main .ui.basic.segment.header-wrapper {
  // font-weight: @normal;
  // -webkit-font-smoothing: @bodyFontSmoothing;

  background-color: #000;
  padding-top: @headerPaddingTop;
  padding-bottom: @headerPaddingBottom;
  padding-left: @headerPaddingLeft;
  padding-right: @headerPaddingRight;
  margin-bottom: @headerMarginBottom;

  .header {
      justify-content: center;
  }

  &.header-button {
      padding-bottom: 0;
      margin-bottom: 0;
  }

  .logo {
      width: @logoWidth;

      @media(max-width: 768px) {
          width: @logoWidthMobile;
      }
  }

  .logo-nav-wrapper {
      width: @logoNavWidth;
      flex-grow: @logoNavFlexGrow;
      margin-bottom: @logoNavMarginBottom;
      align-items: normal;
      justify-content: space-between;
  }

  .title-nav-wrapper {
      display: @titleNavDisplay;
      flex-grow: @titleNavFlexGrow;
      flex-wrap: @titleNavFlexWrap;
      width: @titleNavWidth;
      padding-top: @titleNavPaddingTop;
      max-width: @containerMaxSize;
      margin-left: @titleNavMarginLeft;
      margin-right: @titleNavMarginRight;
      justify-content: center;

      @media(max-width: 768px) {
          padding-top: 30;
      }
  }

  .header-logo-container {
      position: absolute;
      z-index: 2;
      top: 25px;
      left: 25px;
      width: auto !important;

      @media(max-width: 768px) {
          left: 0;
          top: 15px;
      }
  }
}


body.has-toolbar {
  .header-logo-container {
      left: 110 !important;
  }
}

body.has-toolbar-collapsed {
  .header-logo-container {
      left: 40 !important;
  }
}

.ui.basic.segment.header-wrapper.no-title {

  h1.documentFirstHeading {
      display: none;
  }

  p.documentDescription {
      line-height: 45px;
      padding-top: 50;
      padding-bottom: 40;
      color: #000000;

      @media(max-width: 991px) {
          padding-top: 0;
          padding-bottom: 15px;
      }
  }
}

/*-------------------
  Menu
--------------------*/

.ui.basic.segment.header-wrapper {

  .mobile-menu-enter {
      transform: translate(200%, 0%);
  }

  .mobile-menu-enter.mobile-menu-enter-active {
      transform: translate(0%, 0%);
      transition: transform 0.6s ease-in-out;
  }

  .mobile-menu-exit {
      transform: translate(0%, 0%);
      transition: transform 0.6s ease-in-out;
  }

  .mobile-menu-exit.mobile-menu-exit-active {
      transform: translate(200%, 0%);
      transition: transform 0.6s ease-in-out;
  }

  .mobile-menu {
      background-color: #000;
      // border: 3px solid #000;

      top: 50px;
      right: 0;
      left: auto;

      height: calc(100vh - 50px);

      // @media(max-width: 768px) {
      //     border: 2px solid #000;
      // }

      @media(min-width: 767px) {
        max-width: 50vw;
      }

      padding-top: 0;
  }

  .mobile-menu-nav {
      align-items: flex-start;
      justify-content: left;
      height: calc(100% - 50px);
      // margin-top: 25px;

      // @media(max-width: 768px) {
      //     margin-top: 15px;
      // }

      .ui.pointing.secondary.stackable.menu {
          flex-direction: column;
          margin-left: 0;
          margin-bottom: 20px;
          width: 100%;
          align-items: flex-start;

          .item {
              width: 100% !important;
              color: #fff;
              font-family: 'Antonio', "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-weight: 400;
              font-size: 28px;
              text-transform: capitalize;
              -webkit-transition: color 0.2s;
              transition: color 0.2s;
              align-items: flex-start;
              justify-content: left;
              line-height: 1.09;
              letter-spacing: -0.02em;

              margin: 0;
              padding: 12px 10px;

              &.active {
                border-color: transparent;
                color: darken(#fff, 55%);
                background: transparent !important;
              }

              &:active:hover {
                color: darken(#fff, 55%);
              }

              @media(max-width: 768px) {
                font-size: 38px;
                line-height: 1.33;
                margin-top: 0;
                margin-bottom: 0;

                padding-top: 7px !important;
                padding-bottom: 7px !important;
              }
          }

          div.text {
              &:hover,
              &:focus,
              &:active:focus {
                color: darken(#fff, 55%);
                text-decoration: underline;
              }
          }

          .top-item {
            width: 100% !important;
            border-bottom: 2px solid darken(#fff, 75%) !important;
          }

          .top-item a.item {
              &:hover,
              &:focus,
              &:active:focus {
                color: darken(#fff, 55%);
                text-decoration: underline;
              }
          }

          .dropdown.item:active,
          .link.item:active {
              border-color: transparent;
              color: #000000;
          }

          .menu-social-media {
              width: 100%;
              max-width: 380px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: flex-start;
              padding: 15px 15px;
              padding-top: 30px;

              h5 {
                  margin-top: 0;
                  font-family: 'Antonio', "Helvetica Neue", Helvetica, Arial, sans-serif;
                  text-transform: uppercase;
                  font-weight: 400;
                  line-height: 1.20;
                  letter-spacing: -0.02em;
                  display: flex;
                  align-items: center;
              }

              @media(max-width: 768px) {
                  padding-top: 15px;

                  h5 {
                      font-size: 25px;
                      line-height: 1.20;
                  }
              }
          }

          .menu-search-wrapper {
              padding: 15px;
              padding-top: 45px;
              padding-bottom: 30px;
              width: 100%;
              max-width: 450px;

              @media(max-width: 768px) {
                  padding-top: 0;
                  padding-bottom: 15px;
              }

              .searchBox();
          }

          .ui.dropdown {
              flex-wrap: wrap;


              i.dropdown.icon {
                  width: 50px;
                  height: 100% !important;
                  color: black;
                  height: 100%;
                  font-weight: 400;
                  margin: 0;
                  margin-top: 12px;
                  margin-left: 5px;

                  &:before {
                      color: #000000;
                      font-size: 40px;
                      height: 100%;
                  }

                  @media(max-width: 768px) {
                      margin-top: 2px;
                      margin-left: 2px;
                  }
              }

              &.visible {
                  i.dropdown.icon {
                      transform: rotate(180deg)
                  }
              }

              .menu.transition {
                  position: relative;
                  border: 0;
                  box-shadow: none;
                  padding-top: 0;
                  margin-top: 15px;

                  @media(max-width: 768px) {
                      padding-top: 10px;
                      margin-top: 0;
                  }

                  &> div.item[role="option"] {
                      padding: 0 !important;
                      border: 0 !important;
                      &:hover {
                          background: transparent !important;
                      }
                  }

                  &> div.item a.item {
                      font-family: 'GeneralSans', "Helvetica Neue", Helvetica, Arial, sans-serif;
                      font-weight: 400;
                      font-size: 22px !important;
                      line-height: 1.45;
                      letter-spacing: 0.02em;
                      padding: 0 !important;
                      text-decoration: none;
                      margin: 0 !important;
                      color: #434242 !important;
                      padding-top: 2px !important;
                      padding-bottom: 2px !important;
                      text-transform: none !important;

                      &:hover {
                          text-decoration: underline;
                          background: transparent !important;
                          color: #434242 !important;
                      }

                      &.active {
                          background-color: none !important;
                          font-weight: 400 !important;
                          text-decoration: underline !important;
                      }

                      @media(max-width: 768px) {
                          font-size: 18px !important;
                          line-height: 1.56 !important;
                          margin-top: 5px !important;
                          margin-bottom: 5px !important;
                      }
                  }
              }
          }
      }
  }
}

  .hamburger-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 10px;
    width: 28px;
    height: 50px;

    .hamburger::after,
    .hamburger::before,
    .hamburger-inner::after,
    .hamburger-inner::before {
      background-color: #fff;
      border-radius: 0;
      height: 3px;
      margin: 1px 0;
    }

    .hamburger::before {
      top: 18px;
    }

    .hamburger::after {
      top: 2px;
    }
  }

/*-------------------
  Top navigation
--------------------*/

#menu-logo-svg {
  display: absolute;
  height: 72px;
  width: calc(72px * 6); // 432px
  margin-top: -12px;
  margin-left: -24px;

  @media only screen and (min-width: 991px) {
    margin-top: 0;
    margin-left: -20px;
  }
}

#menu-logo-link {
  height: 50px;
  width: calc(50px * 6); // 432px

  @media only screen and (min-width: 991px) {
    height: 72px;
    width: calc(72px * 6); // 432px
  }
}

.ui.basic.segment.header-wrapper {
  display: flex;
  align-items: center;
  margin-top: 50px;

  @media only screen and (min-width: 991px) {
    margin-top: 72px;
  }

  .ui.menu.fixed-navigation {
    background-color: #000;
      border-radius: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      padding: 0 20px;
      height: 50px;

      @media only screen and (min-width: 991px) {
        padding: 0 24px;
        height: 72px;
      }

      .header {
          img {
              @media(max-width: 768px) {
                  max-width: 265px;
              }
          }
      }

      .item {
        padding: 0;
        font-size: 25px;

        a {
          font-size: 38px;
          margin-left: 1.5rem;
          line-height: 47.7px;
          letter-spacing: -0.5px;
        }

        &.item-language-selector {
            img {
                display: inline-block;
                margin-left: 3px;
                width: 14px;
            }
        }

        &:not(.item-language-selector) a {
            font-weight: 400;
        }

        &.no-padding-right {
            padding-right: 0;
        }

        &.no-padding-left {
            padding-left: 0;
        }
      }

      @media(max-width: 990px) {
          .right.menu > .item:not(.header):not(.item-hamburger) {
            display: none;
          }
      }
      @media(min-width: 991px) {
        .right.menu > .item-hamburger {
          display: none;
        }
      }
  }
  .menu-language-selector{
      display: none;
  }
}


/*-------------------
  Language selector
--------------------*/

div.header-wrapper .item-language-selector {
  position: relative;
  width: 95px;
  height: 100%;
  padding: 0;
  z-index: 4;

  .language-selector {
      margin-right: 0;
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 0;

      a {
          color: #fff;
          text-transform: uppercase;
      }

      a {
          &:hover,
          &:focus,
          &:active {
              color: #ffffff;
              text-decoration: underline;
          }

          &.selected {
              display: none;
          }

          &:not(:last-child):after {
              content: "";
          }
      }

      .accordion {
          height: 100%;
          background: #000000;
      }

      .title {
        width: 73px;
      }

      .accordion .title,
      .ui.accordion .title:not(.ui) {
        white-space: nowrap;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        height: 100%;
        line-height: 100%;
        padding: 10px 5px 10px 10px;
        margin: 12.5px 0;
        border: 1px solid #fff;
        border-radius: 4px;

        &:hover {
          text-decoration: underline;

          i {
            text-decoration: none;
          }
        }
      }

      .ui.accordion .content {
          transition: opacity .3s ease-in-out;
          opacity: 0;
          padding-bottom: 15px !important;
      }

      .ui.accordion .content.active {
        opacity: 1;
        margin: 0;
        a {
          font-weight: 400;
          font-size: 25px;
        }
      }

      .ui.accordion .accordion .active.title .dropdown.icon,
      .ui.accordion .active.title .dropdown.icon,
      .ui.accordion.menu .item .active.title>.dropdown.icon,
      .ui.accordion .accordion .title .dropdown.icon,
      .ui.accordion .title .dropdown.icon {
          font-weight: 400;
          margin: 0;
      }

      .ui.accordion .accordion .title .dropdown.icon:before,
      .ui.accordion .title .dropdown.icon:before {
          content: "\e958" !important;
      }

      .ui.accordion .accordion .active.title .dropdown.icon,
      .ui.accordion .active.title .dropdown.icon {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          transform: rotate(180deg);
      }

  }
}

/*-------------------
  Search Header
--------------------*/
#page-search {
  .page-search-widget {
      .searchBox();
  }
}


/*-------------------
  Mobile queries
--------------------*/
@media(max-width: 991px) {
  .language-selector-nav {
      top: 25px;
      left: 5px;
      .language-selector {
          a {
              display: inline-block;
          }
      }
  }

  body.has-toolbar .language-selector-nav {
      top: 125px;
      left: 5px;
  }

  body.has-toolbar-collapsed .language-selector-nav {
      top: 40px;
      left: 5px;
  }

  /* Menu */
  .ui.basic.segment.header-wrapper {
      padding-top: 0;
  }

  /* Header */
  .ui.basic.segment.header-wrapper {
      margin-bottom: @headerMarginBottomMobile;

      h1.documentFirstHeading {
          text-align: @titleNavTextAlignMobile;
      }

      p.documentDescription {
          text-align: @descriptionNavTextAlignMobile;
      }
  }
  .menu-language-selector{
      display: flex !important;
      flex-direction: row;
      margin-top: 33px;
      margin-bottom: 2px;
      span a {
        color: #fff;
        padding: 0;
        margin-left: 10px !important;
        font-size: 27px !important;
      }
  }
  .menu-language-selector > * {
      margin-right: 5px;
  }
  .menu-language-selector .seperator {
      color: #fff;
      // font-size: 27px !important;
      margin-bottom: 45px !important;
      font-family: 'Helvetica Neue', Arial;
  }
}
