@import '../../../../asset/ui/src/scss/settings';

.pdl-home {
  position: relative;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// @media only screen and (max-device-width: 1366px) {
//   .parallax-container {
//     background-attachment: scroll;
//   }
// }

.pdl-home__headline {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  z-index: 1;
  width: 80%;

  @media (min-width: map-get($breakpoints, 'sm')) {
    font-size: 62.5px;
  }
  @media (min-width: map-get($breakpoints, 'md')) {
    font-size: 112px;
  }
}

.pdl-home__covers {
  position: relative;
  color: black;
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
  z-index: 2;
  height: 1873px;
}
