@import '../../../asset/ui/src/scss/settings';

.pdl-book-preview-widget {
  .pdl-book-previews__header {
    padding-top: 0;
    padding-bottom: 4px;
  }
  .pdl-book-previews__title {
    margin-top: 0;
  }
  .pdl-book-previews {
    padding-top: 16px;
    margin-bottom: 26px;
  }
  .pdl-book-preview__format--second, .pdl-book-preview__format--third {
    @media (max-width: map-get($breakpoints, 'md')) {
      display: none;
    }
  }
  .pdl-book-preview__title {
    min-height: 44px;
  }
  &:hover .pdl-book-preview__formats {
    @media (min-width: map-get($breakpoints, 'md')) {
      transform: translateY(-80px);
    }
  }
}
