@import '../../../asset/ui/src/scss/settings';

.pdl-book-preview-widget {
  .pdl-book-previews__header {
    padding-top: 0;
  }
  .pdl-book-previews__title {
    margin-top: 0;
  }
  .pdl-book-previews {
    margin-bottom: 10px;
  }
}
