{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block locale %}{{ data.locale }}{% endblock %}

{% block startHead %}
  {% set slug = '/' %}
  {% for localization in data.localizations %}
    {% if localization.aposLocale == 'en:published' %}
      {% set slug = localization.slug %}
    {% endif %}

    {% if localization.current %}
      {% if localization.aposLocale == 'en:published' %}
      <link rel="canonical" href="{{ data.piece._url if data.piece else data.page._url }}" />
      {% else %}
      <link rel="alternate" href="{{ data.baseUrlWithPrefix }}/en{{ slug }}" hreflang="en" />
      {% endif %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}

  {# Twitter Card meta tags using Open Graph data #}
  {% if data.piece %}
    <meta name="twitter:card" content="summary_large_image" />
    {% if data.piece.openGraphTitle %}
    <meta name="twitter:title" content="{{ data.piece.openGraphTitle }}" />
    {% endif %}
    {% if data.piece.openGraphDescription %}
    <meta name="twitter:description" content="{{ data.piece.openGraphDescription }}" />
    {% endif %}
    {% if data.piece._openGraphImage and data.piece._openGraphImage[0] %}
    <meta name="twitter:image" content="{{ data.piece._openGraphImage[0].attachment._urls.max }}" />
    {% endif %}
  {% endif %}  
{% endblock %}

{% import "locale-switcher:index.html" as localeSwitcher with context %}

{% block beforeMain %}
<div class="pdl-wrapper {%- if data.user %} logged-in {% endif -%}">
  <header class="pdl-header">
    <a href="/{{ data.locale }}" class="pdl-header__title pdl-header__title--desktop">
      <canvas class="pdl-header__logo pdl-header__logo--desktop"></canvas>
      <span>Public Domain Library</span>
    </a>
    <a href="/" class="pdl-header__title pdl-header__title--mobile">
      <svg class="pdl-header__logo pdl-header__logo--mobile" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1000 871.1" style="enable-background:new 0 0 1000 871.1;" xml:space="preserve">
        <style type="text/css">
          .st0{display:none;}
          .st1{fill:#FFFFFF;}
        </style>
        <g id="Guides" class="st0">
        </g>
        <g id="Logo">
          <g>
            <g>
              <path class="st1" d="M603.6,571.9c-41.9,0-79.3,19.6-103.6,50.1c-24.3-30.5-61.7-50.1-103.6-50.1H166.7v57.9h229.7
                c41.2,0,74.7,33.5,74.7,74.7h57.9c0-41.2,33.5-74.7,74.7-74.7h229.7v-57.9H603.6z"/>
              <g>
                <path class="st1" d="M661,388.4l-16.6-40.1l-104.3,43.2l43.2-104.3l-40.1-16.6L500,374.9l-43.2-104.3l-40.1,16.6l43.2,104.3
                  l-104.3-43.2L339,388.4l104.3,43.3l-124.1,51.5l16.6,40.1l116.9-48.5c5.8-2.4,12.1-1.7,17.2,1.7c5.2,3.5,8.2,9.1,8.2,15.4
                  c0,0,0,0.1,0,0.1v46.7h0h43.4h0V492c0-6.3,3-11.9,8.3-15.4c5.2-3.5,11.6-4.2,17.5-1.7l0-0.1l116.8,48.4l16.6-40.1l-124.1-51.5
                  L661,388.4z"/>
                <polygon class="st1" points="741.3,308.2 676.9,334.8 676.7,334.9 693.3,375 757.9,348.3 				"/>

                  <rect x="388.3" y="179.4" transform="matrix(0.9238 -0.3829 0.3829 0.9238 -50.8123 173.2981)" class="st1" width="43.4" height="69.9"/>
                <polygon class="st1" points="258.8,308.2 242.1,348.3 306.7,375 323.3,334.9 				"/>
                <polygon class="st1" points="623.4,190.4 583.3,173.7 556.6,238.2 556.6,238.3 596.7,254.9 				"/>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </a>

    <nav class="pdl-nav">
      <div class="pdl-search">
        <svg class="pdl-nav__item pdl-nav__item--search" data-search-icon width="23" height="32" viewBox="0 0 23 32" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1630_2013)">
            <circle cx="9.95967" cy="13.9597" r="8.45967" stroke="currentColor" fill="black" stroke-width="3"/>
            <line x1="15.6581" y1="20.0272" x2="22.0607" y2="26.4299" stroke="currentColor" stroke-width="3"/>
          </g>
          <defs>
            <clipPath id="clip0_1630_2013">
              <rect width="23" height="32" fill="currentColor"/>
            </clipPath>
          </defs>
        </svg>
        <form class="pdl-nav__form" action="/search">
          <input type="text" name="q" class="pdl-nav__item--search-input" data-search-input placeholder="{{ __t('pdl:Search') }}" />
          <input type="submit" class="pdl-nav__submit" />
        </form>
      </div>

      {% for item in data.global.headerNav %}
        <a href="{{ item._page[0]._url }}" class="pdl-nav__item">{{ item._page[0].title }}</a>
      {% endfor %}

      <span class="pdl-nav__item">
        {{ localeSwitcher.display() }}
      </span>
    </nav>

    <nav class="pdl-nav pdl-nav--mobile pdl-mobile-nav__burger" data-open-mobile-nav>
      <i></i>
      <i></i>
      <i></i>
    </nav>

    <a href="javascript:void(0)" class="pdl-mobile-nav__close" data-close-mobile-nav>
      <i></i>
      <i></i>
    </a>
    <div class="pdl-mobile-nav" data-mobile-nav>

      {% for item in data.global.footerNav %}
        <a href="{{ item._page[0]._url }}" class="pdl-nav__item">{{ item._page[0].title }}</a>
      {% endfor %}
      <form class="pdl-nav__form" action="/search">
        <input type="text" name="q" class="pdl-nav__item pdl-nav__item--search" placeholder="{{ __t('pdl:Search') }}" />
        <label>
          <input type="submit" class="pdl-nav__submit" />
          <svg width="23" height="32" viewBox="0 0 23 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1630_2013)">
              <circle cx="9.95967" cy="13.9597" r="8.45967" stroke="white" stroke-width="3"/>
              <line x1="15.6581" y1="20.0272" x2="22.0607" y2="26.4299" stroke="white" stroke-width="3"/>
            </g>
            <defs>
              <clipPath id="clip0_1630_2013">
                <rect width="23" height="32" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        </label>
      </form>
      <span class="pdl-nav__item pdl-nav__item--locale-switcher">
        {{ localeSwitcher.display() }}
      </span>
    </div>
  </header>
  <main class="pdl-main">
{% endblock %}

{% block main %}{% endblock %}

{% block afterMain %}
  </main>
  <footer class="pdl-footer">

    <div class="pdl-footer__nav">
      <nav class="pdl-nav pdl-nav--footer">
        {% for item in data.global.footerNav %}
          <a href="{{ item._page[0]._url }}" class="pdl-nav__item">{{ item._page[0].title }}</a>
        {% endfor %}
      </nav>

      <div class="pdl-footer__social">
        {% for item in data.global.social %}
          {% set icon = apos.attachment.first(item) %}
          <a class="pdl-footer__social-link" target="_blank" href="{{ item.url }}">
            <img src="{{ apos.attachment.url(icon) }}" alt="icon-{{ icon.name }}" loading="lazy" />
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="pdl-footer__info">
      <div class="pdl-footer__sentence">
        <span class="pdl-footer__motto">Celebrating</span>
        <canvas class="pdl-footer__logo"></canvas>
        <div class="pdl-footer__motto">Human Creativity</div>
      </div>
      <div class="pdl-footer__legal">
        {% for item in data.global.footerLegal %}
          <a href="{{ item._page[0]._url }}" class="pdl-footer__legal-link">{{ item._page[0].title }}</a>
        {% endfor %}
      </div>
    </div>

  </footer>
</div>{# Close .pdl-wrapper #}
{% endblock %}
