{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% import "locale-switcher:index.html" as localeSwitcher with context %}

{% block beforeMain %}
<div class="pdl-wrapper">
  <header class="pdl-header">
    <div class="pdl-header__title">
      <svg class="pdl-header__logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 871.1" xml:space="preserve">
        <g>
          <path class="pdl-header__logo--bottom"  d="M603.6,571.9c-41.9,0-79.3,19.6-103.6,50.1c-24.3-30.5-61.7-50.1-103.6-50.1H166.7v57.9h229.7
            c41.2,0,74.7,33.5,74.7,74.7h57.9c0-41.2,33.5-74.7,74.7-74.7h229.7v-57.9H603.6z"/>
          <g>
            <path d="M661,388.4l-16.6-40.1l-104.3,43.2l43.2-104.3l-40.1-16.6L500,374.9l-43.2-104.3l-40.1,16.6l43.2,104.3l-104.3-43.2
              L339,388.4l104.3,43.3l-124.1,51.5l16.6,40.1l116.9-48.5c5.8-2.4,12.1-1.7,17.2,1.7c5.2,3.5,8.2,9.1,8.2,15.4c0,0,0,0.1,0,0.1
              v46.7h0h43.4h0V492c0-6.3,3-11.9,8.3-15.4c5.2-3.5,11.6-4.2,17.5-1.7l0-0.1l116.8,48.4l16.6-40.1l-124.1-51.5L661,388.4z"/>
            <polygon points="741.3,308.2 676.9,334.8 676.7,334.9 693.3,375 757.9,348.3"/>
            <rect x="388.3" y="179.4" transform="matrix(0.9238 -0.3829 0.3829 0.9238 -50.8123 173.2981)" width="43.4" height="69.9"/>
            <polygon points="258.8,308.2 242.1,348.3 306.7,375 323.3,334.9"/>
            <polygon points="623.4,190.4 583.3,173.7 556.6,238.2 556.6,238.3 596.7,254.9"/>
          </g>
        </g>
      </svg>
      <span>Public Domain Library</span>
    </div>

    <nav class="pdl-nav">
      <svg class="pdl-nav__item" width="23" height="32" viewBox="0 0 23 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1630_2013)">
      <circle cx="9.95967" cy="13.9597" r="8.45967" stroke="white" stroke-width="3"/>
      <line x1="15.6581" y1="20.0272" x2="22.0607" y2="26.4299" stroke="white" stroke-width="3"/>
      </g>
      <defs>
      <clipPath id="clip0_1630_2013">
      <rect width="23" height="32" fill="white"/>
      </clipPath>
      </defs>
      </svg>
      {# {% for item in data.global.headerNav %}
          {% set path = item._page[0]._url %}
          <a href="{{ path }}" style="text-decoration: none" class="fs-3 text-dark">{{ item.label }}</a>
      {% endfor %} #}
      <a href="#" class="pdl-nav__item">Books</a>
      <a href="#" class="pdl-nav__item">Authors</a>
      <span class="pdl-nav__item">
        {{ localeSwitcher.display() }}
      </span>
    </nav>

    <nav class="pdl-nav pdl-nav--mobile" data-open-side-nav>
      <i></i>
      <i></i>
      <i></i>
    </nav>

    <div class="pdl-sidenav" data-side-nav>
      <a href="javascript:void(0)" class="pdl-sidenav--close" data-close-side-nav>&times;</a>
      <svg class="pdl-nav__item" width="23" height="32" viewBox="0 0 23 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1630_2013)">
      <circle cx="9.95967" cy="13.9597" r="8.45967" stroke="white" stroke-width="3"/>
      <line x1="15.6581" y1="20.0272" x2="22.0607" y2="26.4299" stroke="white" stroke-width="3"/>
      </g>
      <defs>
      <clipPath id="clip0_1630_2013">
      <rect width="23" height="32" fill="white"/>
      </clipPath>
      </defs>
      </svg>
      {# {% for item in data.global.headerNav %}
          {% set path = item._page[0]._url %}
          <a href="{{ path }}" style="text-decoration: none" class="fs-3 text-dark">{{ item.label }}</a>
      {% endfor %} #}
      <a href="#" class="pdl-nav__item">Books</a>
      <a href="#" class="pdl-nav__item">Authors</a>
      <span class="pdl-nav__item">
        {{ localeSwitcher.display() }}
      </span>
    </div>
  </header>
  <main class="pdl-main">
{% endblock %}

{% block main %}{% endblock %}

{% block afterMain %}
  </main>
  <footer class="pdl-footer">

    <div class="pdl-footer__nav">
      <nav class="pdl-nav pdl-nav--footer">
        {# {% for item in data.global.footerNav %}
            {% set path = item._page[0]._url %}
            <a href="{{ path }}" style="text-decoration: none" class="fs-3 text-dark">{{ item.label }}</a>
        {% endfor %} #}
        <a href="#" class="pdl-nav__item">Books</a>
        <a href="#" class="pdl-nav__item">Authors</a>
        <a href="#" class="pdl-nav__item">About</a>
        <a href="#" class="pdl-nav__item">Contact</a>
        <a href="#" class="pdl-nav__item">Colophon</a>
      </nav>
      <div class="pdl-footer__social">
        <a href="#">
          <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="72" height="72" rx="4" fill="black"/>
          <rect x="18.5499" y="17.0957" width="34.9002" height="37.8086" rx="6" fill="white"/>
          <rect x="28.0499" y="27.7168" width="16" height="16" rx="8" fill="black"/>
          <rect x="44.2393" y="21.7188" width="4.36253" height="4.36253" rx="2.18127" fill="black"/>
          </svg>
        </a>
        <a href="#">
          <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="72" height="72" rx="4" fill="black"/>
          <rect x="18.5499" y="17.0957" width="34.9002" height="37.8086" rx="6" fill="white"/>
          <rect x="28.0499" y="27.7168" width="16" height="16" rx="8" fill="black"/>
          <rect x="44.2393" y="21.7188" width="4.36253" height="4.36253" rx="2.18127" fill="black"/>
          </svg>
        </a>
      </div>
    </div>

    <div class="pdl-footer__info">
      <div class="pdl-footer__sentence">
        <span class="pdl-footer__motto">Celebrating</span>
        <img src="{{ apos.asset.url('/modules/asset/footer-icon.png') }}" alt="Human Creativity" class="pdl-footer__icon">
        <div class="pdl-footer__motto">Human Creativity</div>
      </div>
      <div class="pdl-footer__legal">
        <a href="#" class="pdl-footer__legal-link">Privacy policy</a>
        <a href="#" class="pdl-footer__legal-link">Terms of Use</a>
      </div>
    </div>

  </footer>
</div>{# Close .pdl-wrapper #}
{% endblock %}
