@import '../../../asset/ui/src/scss/settings';

.pdl-content {
  padding: 14px 20px;
  flex-direction: column;
  gap: 38px;
  margin-bottom: 6px;
  background: white;

  @media (min-width: map-get($breakpoints, 'sm')) {
    flex-direction: row;
    gap: 20px;
  }

  @media (min-width: map-get($breakpoints, 'md')) {
    margin-bottom: 0;
    justify-content: space-between;
    gap: 70px;
    padding: 32px;
    padding-top: 68px;
  }

  .pdl-content__heading {
    font-size: 63px;
    font-weight: 450;
    margin: 0;
    margin-bottom: 32px;
    letter-spacing: 0px;
    text-align: left;


    @media (min-width: map-get($breakpoints, 'md')) {
      letter-spacing: -1px;
      font-size: 113px;
      margin-top: -12px;
      margin-bottom: 38px;
    }
  }

  .pdl-content__main {
    margin-bottom: 31px;
    margin-top: 5px;
    line-height: 31px;

    @media (min-width: map-get($breakpoints, 'sm')) {
      margin-bottom: 52px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      margin-bottom: 60px;
      margin-top: 8px;
      line-height: 60px;
    }
  }

  .pdl-content__layout {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 40px;


    @media (min-width: map-get($breakpoints, 'sm')) {
      flex-direction: row;
      gap: 0;
    }
  }

  .pdl-content__column {
    width: 100%;
  }

  .pdl-content__column--2-columns {
    width: 100%;

    @media (min-width: map-get($breakpoints, 'sm')) {
      width: 50%;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      & p:first-child {
        margin-top: -7px !important;
      }

      &:first-child p {
        padding-right: 100px;
      }
    }
  }

  .pdl-rich-text {
    font-size: 17.5px;

    p {
      margin: 0;
    }
  }

  .pdl-content__big-text {
    font-size: 30.5px;
    line-height: 30px;
    font-weight: 450;
    margin-bottom: 20px;

    @media (min-width: map-get($breakpoints, 'md')) {
      font-size: 64.5px;
      line-height: 62px;
    }
  }

  .pdl-content__bigger-text {
    font-size: 36px;
    font-weight: 450;
    margin-bottom: 20px;

    &::after {
      background-image: url("modules/default-page/icon.svg");
      position: relative;
      margin-left: 5px;
      display: inline-block;
      height: 24px;
      width: 36px;
      background-size: 36px 24px;
      background-repeat: no-repeat;
      content: '';
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      font-size: 82.5px;

      &::after {
        margin-left: 10px;
        height: 53px;
        width: 66px;
        background-size: 66px 53px;
      }
    }
  }
}
