{% extends "@apostrophecms/page:layout.html" %}

{% block main %}
<div class="pdl-authors">
  <div class="pdl-authors__wrapper">
    <h1>{{ data.page.title }}</h1>

    {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
      {% set hasAuthors = false %}
      {% for author in data.pieces %}
        {% if author.title[0] | upper == letter %}
          {% set hasAuthors = true %}
        {% endif %}
      {% endfor %}

      {% if hasAuthors %}
      <section class="pdl-authors__section">
        <div class="pdl-authors__column">
          <div id="{{ letter }}" class="pdl-authors__letter">{{ letter }}</div>
        </div>
        <div class="pdl-authors__column pdl-authors__links">
          {% for author in data.pieces %}
            {% if author.title[0] | upper == letter %}
              <a class="pdl-authors__link" href="{{ author._url }}">{{ author.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </section>
      {% endif %}
    {% endfor %}

  </div>

  <nav class="pdl-authors__nav-letters">
    <div class="pdl-authors__nav-letters-container">
    {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
      {% set hasAuthors = false %}
      {% for author in data.pieces %}
        {% if author.title[0] | upper == letter %}
          {% set hasAuthors = true %}
        {% endif %}
      {% endfor %}

      {% if hasAuthors %}
      <a href="#{{ letter }}" class="pdl-authors__nav-letter pdl-authors__nav-letter--{{ letter }}">{{ letter }}</a>
      {% endif %}
    {% endfor %}
    </div>
  </nav>

  <div class="pdl-book__area">{% area data.page, 'area' %}</div>
</div>
{% endblock %}
