{% extends "@apostrophecms/page:layout.html" %}
{% import 'book-page:fragment.html' as fragment %}
{% set srcset = apos.image.srcset(data.piece.image) %}

{% block main %}
  <div class="pdl-author" style="background-color: {{ data.piece.color }}">
    {% area data.piece, 'imageArea' %}

    <div class="pdl-author__description">
      <div class="pdl-author__container" >
        <h1>{{ data.piece.title }}</h1>
        <div class="pdl-author__copyright">
          {% include "svg.html" %}

          <div class="pdl-author__copyright-term">{{ data.piece.copyrightTerm }}</div>

          {% if data.piece.copyrightNote %}
          <div class="pdl-author__copyright-info">i
            <div class="pdl-author__copyright-content">{{ data.piece.copyrightNote }}</div>
          </div>
          {% endif %}
        </div>

        {% area data.piece, 'biographyRTE' %}

        <div class="pdl-author__credit">
          {% set image = apos.attachment.first(data.piece.imageArea, { group: "images" }) %}
          {% if image and image._credit %}
            <div class="pdl-author__credit-title">{{ __t("pdl:Image credits") }}</div>
            <div class="pdl-author__credit-content">{{ image._credit }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if data.piece._books.length %}
    <div class="pdl-author__books">
      {% render fragment.previews("pdl:Books from the author", data.piece._books) %}
    </div>
  {% endif %}

  <div class="pdl-book__area">{% area data.page, 'area' %}</div>
{% endblock %}
