@import '../../../asset/ui/src/scss/settings';
@import 'preview';

.pdl-book {
  display: grid;
  grid-template: auto auto / 1fr;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  gap: 30px;

  @media (min-width: map-get($breakpoints, 'sm')) {
    grid-template:
    "image description" auto
    "books books" auto / 1fr 1fr;
  }

  h1 {
    font-size: 76px;
    font-weight: 500;
    text-align: left;
    margin: 0;
  }

  .pdl-book__image {
    position: relative;
    object-fit: contain;
    box-shadow: -5px 9px 6px 3px rgba(94, 94, 94, 0.33);

    @media (min-width: map-get($breakpoints, 'sm')) {
      top: 40px;
      left: 20%;
      width: 72%;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      top: 60px;
      left: 25%;
      width: 50%;
    }
  }

  .pdl-book__description {
    display: flex;
    order: 1;

    @media (min-width: map-get($breakpoints, 'sm')) {
      height: 510px;
      order: 0;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      height: calc(100vh - 70px);
    }
  }

  .pdl-book__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    @media (min-width: map-get($breakpoints, 'sm')) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      padding: 0px 118px 10px 40px;
    }
  }

  .pdl-book__excerpt {
    quotes: '\201c' '\201d';
    font-weight: 500;
    text-align: left;
    color: white;

    @media (min-width: map-get($breakpoints, 'sm')) {
      font-size: 30px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      font-size: 64px;
    }
  }
  .pdl-rich-text .pdl-book__excerpt:before {
    content: open-quote;
  }
  .pdl-rich-text .pdl-book__excerpt:after {
    content: close-quote;
  }
  .pdl-rich-text p {
    @media screen and (min-width: map-get($breakpoints, 'sm')) {
      margin-block-start: 20px;
    }
  }

  .pdl-book__link {
    display: flex;
    background-color: black;
    color: white;
    position: relative;
    font-weight: 400;
    text-decoration: none;
    border-radius: 4px;

    @media (min-width: map-get($breakpoints, 'sm')) {
      gap: 10px;
      padding: 10px 12px;
      bottom: 20px;
      font-size: 17px;

      svg {
        width: 20px;
        height: 16px
      }
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      gap: 20px;
      padding: 23px 24px;
      bottom: 30px;
      font-size: 25.5px;

      svg {
        width: 32px;
        height: 32px
      }
    }
  }
}

.pdl-book__books {
  padding: 20px;
  font-size: 30px;
  font-weight: 500;

  h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
  }

  .pdl-book__books-list {
    padding-top: 20px;
  }

  .pdl-book__book-book {
    font-size: 20px;
  }

  .pdl-book__book-img {
    box-shadow: -5px 9px 6px 3px rgba(94, 94, 94, 0.33);
    margin-bottom: 10px;
    position: relative;
    top: 0;
    transition: 0.3s;
  }

  .pdl-book__book-link {
    color: black;
    text-decoration: none;

    &:hover {
      .pdl-book__book-img {
        box-shadow: -3px 23px 23px 3px rgba(94, 94, 94, 0.4);
        top: -30px;
      }
    }
  }
}
