.pdl-pager {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 53px;
  gap: 17px;
  font-size: 18px;

  .pdl-pager-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
  }

  .pdl-pager-items__item {
    position: relative;
    width: 36px;
    height: 17px;
    cursor: pointer;
    border-radius: 4px;
    padding: 10.5px 1px;
    font-size: 15px;
    text-align: center;
    color: #878787;

    a {
      position: absolute;
      display: block;
      width: inherit;
      height: inherit;
      top: 0px;
      padding: 10px 0;
    }

    &:hover, &.is-active {
      width: 34px;
      border: 1px solid black;
      color: black;
    }
  }
}
