.pdl-book-previews {
  padding-top: 20px;
  display: flex;
  gap: 25px;
}

.pdl-book-previews__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pdl-book-previews__title {
  font-size: 30px;
  font-weight: 450;
  text-align: left;
  margin: 0;

  @media (min-width: map-get($breakpoints, 'md')) {
    font-size: 64px;
    margin: 24px 0;
  }
}

.pdl-book-previews__view-all {
  font-size: 14px;
  font-weight: 400;
  height: fit-content;
  color: #A8A8A8 !important;

  @media (min-width: map-get($breakpoints, 'md')) {
    border: 1px solid black;
    border-radius: 4px;
    font-size: 18px;
    padding: 14px;
    color: black !important;
  }

  &:hover {
    background-color: black;
    color: white !important;
  }
}

.pdl-book-preview {
  color: black;
  text-decoration: none;

  &:hover {
    .pdl-book__image {
      box-shadow: -3px 23px 23px 3px rgba(94, 94, 94, 0.4);
      top: -30px;
    }
    .pdl-book-preview__author {
      display: none;
    }
    .pdl-book-preview__title {
      display: none;
    }
    .pdl-book-preview__formats {
      display: flex;
    }
  }

  .pdl-book-preview__author {
    font-size: 14px;
    font-weight: 450;
    padding-bottom: 5px;
  }
  .pdl-book-preview__title {
    font-size: 18px;
  }
  .pdl-book-preview__formats {
    display: none;
    flex-direction: column;
    gap: 1px;
    font-size: 14px;
    font-weight: 400;
  }

  .pdl-book__image {
    box-shadow: -5px 9px 6px 3px rgba(94, 94, 94, 0.33);
    margin-bottom: 10px;
    position: relative;
    top: 0;
    transition: 0.2s;

    @media (min-width: map-get($breakpoints, 'md')) {
      width: 249px;
    }
  }

  .pdl-book-preview__cta {
    background-color: black;
    color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 12px 8px;
    width: 154px;
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      width: 16px;
      height: 16px;
    }

    &:hover svg g {
      animation: hoverArrow 300ms ease;
    }
  }

  @keyframes hoverArrow {
    0% {
      transform: translateY(0)
    }

    50% {
      transform: translateY(40px)
    }

    51% {
      visibility: hidden;
    }

    52% {
      transform: translateY(-25px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .pdl-book-preview__other {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background: black;
    width: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;

    div {
      width: 3px;
      height: 3px;
      background-color: white;
    }
  }

  .pdl-book-preview__view {
    border: 1px solid;
    border-radius: 4px;
    padding: 8px;
    padding-top: 11px;
    margin-left: 7px;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  .pdl-book-preview__format {
    display: none;
    background-color: black;
    color: white;
    width: 175px;
    padding: 12px 8px;
    gap: 1px;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;

    &--first {
      background: transparent;
      width: auto;
      padding: 0;
    }

    &--second {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
        width: 173px;
      }
    }

    &--third {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
        width: 173px;
      }
    }

    &--visible {
      display: flex;
    }
  }
}
