{% extends "@apostrophecms/page:layout.html" %}
{% import 'fragment.html' as fragment %}
{% import '@apostrophecms/pager:macros.html' as pager with context %}

{% block main %}
  <div class="pdl-books">
    <h1>{{ data.page.title }}</h1>

    <div class="pdl-books__container">
    {% for book in data.pieces %}
      {% render fragment.preview(book) %}
    {% endfor %}
    </div>
  </div>

{{ pager.render({
  page: data.currentPage,
  total: data.totalPages,
  class: 'pdl-book__pager'
}, data.url) }}
{% endblock %}
