{% extends "@apostrophecms/page:layout.html" %}

{% block main %}
  <div class="pdl-book">
    {% area data.piece, 'imageArea' %}
     <a class="pdl-book__link pdl-book__link--mobile" href="#formats">{{ __t('pdl:Start reading now') }}
      {% include "svg.html" %}
    </a>

    <div class="pdl-book__description" style="background-color: {{ data.piece.color }}">
      <div class="pdl-book__container">
        {% area data.piece, 'excerptRTE' %}
        <a class="pdl-book__link" href="#formats">{{ __t('pdl:Start reading now') }}
          {% include "svg.html" %}
        </a>
      </div>
    </div>

    <div class="pdl-book__info pdl-book__info--top">
      {% if data.piece._author and data.piece._author[0] %}
        <div class="pdl-book__author">
          {% area data.piece._author[0], 'imageArea' %}
          {{ data.piece._author[0].title }}
        </div>
      {% endif %}
      <h1>{{ data.piece.title }}</h1>
    </div>

    <div class="pdl-book__info pdl-book__info--bottom" id="formats">
      {{ __t('pdl:All formats') }}
      <div class="pdl-book__formats">
        {% for file in data.piece.files %}
          <a class="pdl-book__format" href="{{ file.file._url }}">{{ file.file.extension | upper }}{% include "svg.html" %}</a>
        {% endfor %}
      </div>
      <div class="pdl-book__credits">
        {{ __t('pdl:Credits') }}
        {% area data.piece, 'creditsRTE' %}
      </div>
    </div>
  </div>

{% endblock %}
