{% extends "layout.html" %}
{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}
<section class="pdl-contact">
  <div class="pdl-contact__wrapper">
    <h1 class="pdl-contact__heading">
      {{ data.page.heading }}
    </h1>
    <div class="pdl-contact__paragraph">
      {{ data.page.paragraph | safe }}
    </div>
  </div>

  <div class="pdl-contact__wrapper">
    <form class="pdl-contact__form" action="/contact" method="post">
      <div class="pdl-contact__form-group">
        <input type="text" id="name" name="name" class="pdl-contact__input" placeholder="{{ data.page.form.nameLabel }} *" required>
      </div>
      <div class="pdl-contact__form-group">
        <input type="email" id="email" name="email" class="pdl-contact__input" placeholder="{{ data.page.form.emailLabel }} *" required>
      </div>
      <div class="pdl-contact__form-group">
        <textarea id="message" name="message" class="pdl-contact__textarea" placeholder="{{ data.page.form.messageLabel }} *" required></textarea>
      </div>
      <div class="pdl-contact__submit">{{ data.page.form.sendLabel }}</div>
    </form>
  </div>
</section>
{% endblock %}

