{% extends "layout.html" %}
{% block title %}{{ data.page.title }}{% endblock %}

{% block extraHead %}
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    function onSubmit(token) {
      const name = document.getElementById("name").value;
      const email = document.getElementById("email").value;
      const message = document.getElementById("message").value;

      if (!name || !email || !message) {
        return;
      }

      const messageLengthWithoutSpaces = message.replace(/\s/g, "").length;
      if (messageLengthWithoutSpaces < 10) {
        return;
      }

      document.getElementById("contact-form").submit();
    }
  </script>
{% endblock %}

{% block main %}
<section class="pdl-contact">
  <div class="pdl-contact__wrapper">
    <h1 class="pdl-contact__heading">
      {{ data.page.heading }}
    </h1>
    <div class="pdl-contact__paragraph">
      {{ data.page.paragraph | safe }}
    </div>
  </div>

  <div class="pdl-contact__wrapper">
    <form class="pdl-contact__form" id="contact-form" action="/api/v1/contact/submit" method="POST">
      <div class="pdl-contact__form-group">
        <input type="text" id="name" name="name" class="pdl-contact__input" placeholder="{{ data.page.form.nameLabel }} *" required>
      </div>
      <div class="pdl-contact__form-group">
        <input type="email" id="email" name="email" class="pdl-contact__input" placeholder="{{ data.page.form.emailLabel }} *" required>
      </div>
      <div class="pdl-contact__form-group">
        <textarea id="message" name="message" class="pdl-contact__textarea" placeholder="{{ data.page.form.messageLabel }} *" required></textarea>
      </div>
      <input type="hidden" name="locale" value="{{ data.locale }}">
      <button type="submit" class="pdl-contact__submit g-recaptcha" data-sitekey="{{ data.global.recaptchaSiteKey }}" data-callback="onSubmit" data-action="submit">{{ data.page.form.sendLabel }}</button>
    </form>
  </div>
</section>

<div class="pdl-contact__area">{% area data.page, 'area' %}</div>
{% endblock %}


