{% extends "layout.html" %}

{% set page = data.page %}

{% block main %}
  <section class="pdl-content">
    <h1 class="pdl-content__heading">{{ page.title }}</h1>
    <div class="pdl-content__main">{% area page, 'main' %}</div>
    <div class="pdl-content__layout">
      <div class="pdl-content__column {%- if page.layout == '2' %} pdl-content__column--2-columns {% endif %}">
        {% area page, 'column1' %}
      </div>
      {% if page.layout == '2' %}
        <div class="pdl-content__column pdl-content__column--2-columns">
          {% area page, 'column2' %}
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
