@import '../../../asset/ui/src/scss/settings';

.pdl-donate {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f4f0;
  height: 687px;

  @media (min-width: map-get($breakpoints, 'sm')) {
    flex-direction: row-reverse;
    height: 401px
  }

  @media (min-width: map-get($breakpoints, 'md')) {
    flex-direction: row;
    height: 748px;
  }
}

.pdl-donate__form-wrapper {
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;

  @media (min-width: map-get($breakpoints, 'sm')) {
    width: 50%;
  }

  .pdl-donate__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    max-width: none;

    @media (min-width: map-get($breakpoints, 'sm')) {
      width: fit-content;
      max-width: 50vw;
    }
  }

  .pdl-donate__content {
    border-radius: 4px;
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: start;
    margin: 0 20px;

    @media (min-width: map-get($breakpoints, 'md')) {
      margin: 0;
      margin-left: 8px;
      margin-right: 16px;
      width: fit-content;
    }

    @media screen and (min-width: 1250px) {
      margin-right: 0;
    }
  }

  .pdl-donate__title {
    color: black;
    font-weight: 450;
    font-size: 18px;
    max-width: 530px;
    text-align: left;
    line-height: 21px;
    letter-spacing: 0px;
    margin-top: 40px;

    @media (min-width: map-get($breakpoints, 'sm')) {
      margin-top: 0;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      margin-top: 7px;
      font-size: 32px;
      line-height: 36px;
    }
  }

  .pdl-donate__amount-wrapper {
    margin-top: 17px;

    @media (min-width: map-get($breakpoints, 'sm')) {
      margin-top: 20px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      margin-top: 24px;
    }
  }

  .pdl-donate__amount-buttons {
    display: flex;
    gap: 7px;
    justify-content: space-between;

    @media (min-width: map-get($breakpoints, 'xs')) {
      justify-content: center;
    }
  }

  .pdl-donate__amount-button {
    height: 45px;
    width: 40px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: transparent;
    font-weight: 500;
    color: black;
    padding: 5px;

    @media (min-width: map-get($breakpoints, 'xs')) {
      width: 71px;
      font-size: 18px;
    }

    @media (min-width: map-get($breakpoints, 'sm')) {
      height: 50px;
      width: 63px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      height: 53px;
      width: 75px;
    }

    @media screen and (min-width: 1250px) {
      width: 115px;
    }

    &:hover {
      cursor: pointer;
      background-color: black;
      color: #f5f4f0;
    }

    &--selected {
      background-color: black;
      color: #f5f4f0;
    }
  }

  .pdl-donate__amount-input {
    height: 45px;
    width: 39px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;

    @media (min-width: map-get($breakpoints, 'xs')) {
      font-size: 18px;
      width: 66px;
    }

    @media (min-width: map-get($breakpoints, 'sm')) {
      height: 50px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      height: 53px;
      width: 75px;
    }

    @media screen and (min-width: 1250px) {
      width: 115px;
    }

    &:focus {
      outline: none;
      border: 2px solid black;
    }

    &:hover {
      background-color: black;
      color: white;
      transition: all 0.3s;
    }
  }

  ::placeholder {
    text-align: center;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .pdl-donate__payment-methods {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 16px 0;
    color: black;

    @media (min-width: map-get($breakpoints, 'xs')) {
      gap: 23px;
    }

    @media (min-width: map-get($breakpoints, 'sm')) {
      margin: 14px 0;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      margin: 17px 0;
      padding-top: 6px;
    }
  }

  .pdl-donate__submit {
    padding: 11px 11px 12px 11px;
    font-size: 17.5px;
    background-color: black;
    color: white;
    position: relative;
    font-weight: 400;
    text-decoration: none;
    border-radius: 4px;
    border: 0;
    width: 100%;

    @media (min-width: map-get($breakpoints, 'md')) {
      padding: 18px;
      margin-top: 9px;
      font-size: 25px;
    }

    &:hover {
      cursor: pointer;
      background-color: #222;
    }

    &--disabled {
      background-color: #d3d3d3;
      color: #a9a9a9;
      &:hover {
        cursor: not-allowed;
        background-color: #d3d3d3;
      }
    }
  }
}

.pdl-donate__image-wrapper {
  .pdl-donate__image {
    position: relative;
    width: 230px;
    top: 30px;

    @media (min-width: map-get($breakpoints, 'xs')) {
      width: 330px;
    }

    @media (min-width: map-get($breakpoints, 'sm')) {
      top: 10px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      width: 574px;
      right: 37px;
      top: 28px;
    }
  }
}
