{% macro display() %}
<section class="pdl-donate" data-donate-form>
  <div class="pdl-donate__form-wrapper">
    <form class="pdl-donate__form" action="/api/v1/donate/checkout" method="POST">
      <div class="pdl-donate__content">
        <div class="pdl-donate__title">
          {{ __t("pdl:Donate and help us bring the beauty of literature to the digital age") }}
        </div>
        <div class="pdl-donate__amount-wrapper">
          <div class="pdl-donate__amount-buttons">
            <button type="button" class="pdl-donate__amount-button" id="amount-button-1">10€</button>
            <button type="button" class="pdl-donate__amount-button" id="amount-button-2">25€</button>
            <button type="button" class="pdl-donate__amount-button" id="amount-button-3">50€</button>
            <button type="button" class="pdl-donate__amount-button" id="amount-button-4">100€</button>
            <input type="number" min="0.6" step="0.01" id="custom-amount" class="pdl-donate__amount-input" placeholder="{{ __t('pdl:other') }}" aria-label="Enter custom amount">
            <input type="hidden" id="amount" name="amount">
          </div>
        </div>
        <div class="pdl-donate__payment-methods">
          <img src="{{ apos.asset.url('/modules/donate/apple-pay.svg') }}" alt="Payment method 1" class="pdl-donate__payment-method">
          <img src="{{ apos.asset.url('/modules/donate/google-pay.svg') }}" alt="Payment method 2" class="pdl-donate__payment-method">
          <img src="{{ apos.asset.url('/modules/donate/paypal.svg') }}" alt="Payment method 3" class="pdl-donate__payment-method">
          <img src="{{ apos.asset.url('/modules/donate/visa.svg') }}" alt="Payment method 4" class="pdl-donate__payment-method">
          <img src="{{ apos.asset.url('/modules/donate/mastercard.svg') }}" alt="Payment method 5" class="pdl-donate__payment-method">
        </div>
        <button type="submit" class="pdl-donate__submit pdl-donate__submit--disabled">{{ __t("pdl:Donate") }}</button>
        <div class="pdl-donate__validation"></div>
      </div>
    </form>
  </div>
  <div class="pdl-donate__image-wrapper">
    <img src="{{ apos.asset.url('/modules/donate/donate.png') }}" alt="Donation illustration" class="pdl-donate__image">
  </div>
</section>
{% endmacro %}
