@import './_settings';

body,
[data-apos-refreshable],
.pdl-wrapper {
  display: flex;
  flex-direction: column;
}

[data-apos-refreshable],
.pdl-wrapper,
main {
  flex-grow: 1;
}

body {
  min-height: 100vh;
  // Nice system fonts.
  font-family: 'TASAOrbiter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

.pdl-header,
main,
.pdl-footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pdl-header {
  height: 72px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 38px;
}

.pdl-header__title {
  display: flex;
  align-items: center;
  margin-left: 25px;

  span {
    display: none;

    @media (min-width: map-get($breakpoints, 'md')) {
      display: block;
    }
  }
}

.pdl-header__logo {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}

.pdl-header__login {
  &:visited {
    color: white;
  }
}

.pdl-nav {
  display: none;
  margin-right: 25px;

  @media (min-width: map-get($breakpoints, 'md')) {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &--mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media (min-width: map-get($breakpoints, 'md')) {
      display: none;
    }

    i {
      width: 36px;
      height: 3px;
      background: white;
    }
  }

  .pdl-nav__item {
    text-decoration: none;
    color: white;
    transition: 0.3s;

    &:hover {
      color: #7B7A78;
    }
  }
}

.pdl-sidenav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;

  @media (min-width: map-get($breakpoints, 'md')) {
    display: none;
  }

  .pdl-nav__item, a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  &--close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 42px !important;
    margin-left: 50px;
  }
}

.pdl-footer {
  background-color: black;
  color: white;

  > * {
    padding: 25px;

    @media (min-width: map-get($breakpoints, 'md')) {
      padding: 35px;
    }
  }

  a {
    color: white;
  }

  .pdl-footer__nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 25px;

    @media (min-width: map-get($breakpoints, 'sm')) {
      gap: 65px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      gap: 25px;
      flex-direction: row;
    }
  }

  .pdl-nav--footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;

    .pdl-nav__item {
      font-size: 18px;

      @media (min-width: map-get($breakpoints, 'md')) {
        font-size: 26px;
      }
    }
  }

  .pdl-footer__social {
    display: flex;
    gap: 20px;

    @media (min-width: map-get($breakpoints, 'md')) {
      gap: 0;
    }

    a {
      text-align: center;

      @media (min-width: map-get($breakpoints, 'md')) {
        width: 72px;
        height: 72px;
      }
    }

    img {
      height: 22px;

      @media (min-width: map-get($breakpoints, 'md')) {
        height: 36px;
      }
    }
  }

  .pdl-footer__info {
    padding-top: 0;

    .pdl-footer__motto {
      font-size: 45px;
    }

    .pdl-footer__sentence img {
      margin-left: 15px;
      width: 40px;
    }

    @media (min-width: map-get($breakpoints, 'sm')) {
      padding-top: 35px;

      .pdl-footer__motto {
        font-size: 90px;
      }

      .pdl-footer__sentence img {
        margin-left: 20px;
        width: 75px;
      }
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      padding-top: 35px;

      .pdl-footer__motto {
        font-size: 132px;
      }

      .pdl-footer__sentence img {
        margin-left: 25px;
        width: 100px;
      }
    }
  }

  .pdl-footer__legal {
    margin-top: 35px;
    display: flex;
    gap: 25px;
    font-size: 13px;
  }
}

.pdl-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.apos-file-dropzone.apos-is-disabled {
  display: none !important;
}

.apos-input-array-inline .apos-input-array-inline-item-controls--remove {
  display: none !important;
}
