@import './_settings';

html {
  scroll-behavior: smooth;
}

body, html {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body,
[data-apos-refreshable],
.pdl-wrapper {
  display: flex;
  flex-direction: column;
}

[data-apos-refreshable],
.pdl-wrapper,
main {
  flex-grow: 1;
}

.pdl-wrapper {
  overflow: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;

  &.logged-in {
    top: 112px;
  }
}

// preview mode: disable space for admin bar
[data-apos-refreshable][data-resizable] .pdl-wrapper.logged-in {
  top: 0px;
}

body {
  min-height: 100vh;
  // Nice system fonts.
  font-family: 'TASAOrbiter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  color: inherit;
}

.pdl-header,
main,
.pdl-footer {
  width: 100%;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.pdl-header {
  position: fixed;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 38px;
  z-index: 4;

  @media (min-width: map-get($breakpoints, 'md')) {
    height: 72px;
  }
}

.pdl-header__title {
  display: none;
  align-items: center;
  margin-left: 25px;

  &:hover {
    cursor: pointer;
    fill: #7B7A78;
    color: #7B7A78;
  }

  span {
    display: none;
    font-size: 42px;

    @media (min-width: 1025px) and (max-width: 1061px) {
      font-size: 36px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      display: block;
    }
  }

  @media (min-width: map-get($breakpoints, 'md')) {
    display: flex;
  }
}

.pdl-header__title--mobile {
  display: block;
  margin-left: 12px;

  @media (min-width: map-get($breakpoints, 'md')) {
    display: none;
  }
}

.pdl-header__logo {
  width: 36px;
  height: 36px;
  margin-right: 8px;
  margin-bottom: 3px;

  &--mobile {
    display: block;
    width: 55px;
    height: auto;
    margin: 0;

    @media (min-width: map-get($breakpoints, 'md')) {
      display: none;
    }
  }
}

.pdl-header__login {
  &:visited {
    color: white;
  }
}

.pdl-main {
  padding-top: 50px;

  @media (min-width: map-get($breakpoints, 'md')) {
    padding-top: 72px;
  }
}

.pdl-nav {
  display: none;
  margin-right: 24px;

  @media (min-width: map-get($breakpoints, 'md')) {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 25px;
  }

  &--mobile {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    @media (min-width: map-get($breakpoints, 'md')) {
      display: none;
    }

    i {
      width: 28px;
      height: 3px;
      background: white;
    }
  }

  .pdl-nav__item {
    text-decoration: none;
    color: white;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      fill: #7B7A78;
      color: #7B7A78;
    }

    &--search {
      @media (min-width: map-get($breakpoints, 'md')) {
        width: 32px;
      }

      g {
        pointer-events: none;
      }
    }

    &--search-input {
      justify-content: space-between;
      display: flex;
      width: 0;
      color: #7B7A78;
      background-color: black;
      border: none;
      font-size: 26px;

      &:focus {
        outline: none;
        transition: all 0.5s;
        width: 160px;

        @media (min-width: 1160px) {
          width: 248px;
        }
      }
    }
  }

  .pdl-nav__input--open {
    width: 160px;

    @media (min-width: 1160px) {
      width: 248px;
    }
  }

  .pdl-search {
    position: relative;
    display: flex;
    gap: 4px;
  }
}

.pdl-nav__submit {
  display: none;
}

.pdl-nav__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pdl-nav__item--search + .pdl-nav__form {
  display: none;
}
.pdl-nav__item--open + .pdl-nav__form {
  display: flex;
}

.pdl-mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 50px;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;

  &__burger--hide {
    animation: topDownBurger 0.2s;
    transform: translateY(40px)
  }
  &__burger--display {
    animation: bottomUpBurger 0.2s;
    transform: translateY(0)
  }

  &--open {
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: map-get($breakpoints, 'sm')) {
    width: 383px;
  }

  .pdl-nav__item, a {
    padding: 18px 8px 18px 22px;
    text-decoration: none;
    font-size: 28px;
    color: white;
    display: block;
    transition: 0.5s;
  }

  .pdl-nav__item {
    border-bottom: 2px solid #333333;
    width: 100%;

    &:last-child {
      border-bottom: none;
    }

    &--search {
      justify-content: space-between;
      display: flex;
      width: calc(100% - 50px);
      padding-top: 18px;
      color: #7B7A78;
      background-color: black;
      border: none;

      &:focus{
        outline: none;
      }
    }

    &--locale-switcher {
      position: absolute;
      right: calc(-100% + 65px);
      top: 0;
    }
  }

  &__close {
    position: absolute;
    top: -37px;
    right: 25px;
    font-size: 42px !important;
    margin-left: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &--display {
      animation: topDownCross 0.2s;
      transform: translateY(37px)
    }

    &--hide {
      display: none;
    }

    i {
      background: white;
      width: 3px;
      height: 28px;
      display: block;
      transform: rotate(45deg);
      position: absolute;
      right: 11px;
      top: 11px;

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .pdl-nav__form {
    svg {
      position: relative;
      top: 2px;
      right: 20px;
    }
  }
}

.pdl-footer {
  background-color: black;
  color: white;
  z-index: 4;
  position: relative;

  > * {
    padding: 19px;

    @media (min-width: map-get($breakpoints, 'md')) {
      padding: 32px;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  .pdl-footer__nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 6px;

    @media (max-width: map-get($breakpoints, 'sm')) {
      padding-top: 10px;
    }

    @media (min-width: map-get($breakpoints, 'sm')) {
      gap: 51px;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      gap: 25px;
      flex-direction: row;
    }
  }

  .pdl-nav--footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
    margin-top: 1px;

    .pdl-nav__item {
      font-size: 18px;

      @media (min-width: map-get($breakpoints, 'md')) {
        font-size: 26px;
      }
    }
  }

  .pdl-footer__social {
    display: flex;
    gap: 0;
    margin-left: -10px;

    @media (min-width: map-get($breakpoints, 'md')) {
      margin-left: 0;
    }

    a {
      text-align: center;

      @media (min-width: map-get($breakpoints, 'md')) {
        width: 72px;
        height: 72px;
      }
    }

    img {
      height: 42px;
      width: 42px;
      transition: 0.3s;
      cursor: pointer;

      @media (min-width: map-get($breakpoints, 'md')) {
        height: inherit;
        width: inherit;
      }

      &:hover {
        opacity: 0.3;
      }
    }
  }

  .pdl-footer__info {
    padding-top: 0;

    .pdl-footer__motto {
      font-size: 45px;
    }

    .pdl-footer__sentence {
      margin-top: 1px;
    }

    .pdl-footer__sentence .pdl-footer__logo {
      height: 35px;
    }

    @media (min-width: map-get($breakpoints, 'sm')) {
      padding-top: 35px;

      .pdl-footer__motto {
        font-size: 90px;
      }

      .pdl-footer__sentence .pdl-footer__logo {
        height: 65px;
      }
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      padding-top: 170px;

      .pdl-footer__motto {
        font-size: 150px;
        font-weight: 500;
        line-height: 128px;
      }

      .pdl-footer__sentence .pdl-footer__logo {
        height: 103px;
        position: relative;
        left: -17px;
      }
    }
  }

  .pdl-footer__legal {
    margin-top: 26px;
    display: flex;
    gap: 25px;
    font-size: 13px;

    &-link:hover {
      cursor: pointer;
      fill: #7B7A78;
      color: #7B7A78;
    }
  }
}

.pdl-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.apos-file-dropzone.apos-is-disabled {
  display: none !important;
}

.apos-input-array-inline .apos-input-array-inline-item-controls--remove {
  display: none !important;
}

@keyframes topDownBurger {
  0% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(40px)
  }
}

@keyframes topDownCross {
  0% {
    transform: translateY(-37px)
  }

  100% {
    transform: translateY(37px)
  }
}

@keyframes bottomUpBurger {
  0% {
    transform: translateY(40px)
  }

  100% {
    transform: translateY(0)
  }
}
